@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground: '#1E1B4B';
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

body {
  color: var(--foreground);
  background: linear-gradient(to bottom, transparent, rgb(var(--background-end-rgb)))
    rgb(var(--background-start-rgb));
}

@layer base {
  h1 {
    @apply text-5xl font-bold leading-tight;
  }

  h2 {
    @apply text-4xl font-bold leading-tight;
  }

  h3 {
    @apply text-3xl font-bold leading-tight;
  }
}

@layer utilities {
  .golden-border {
    border-bottom: 4px solid transparent;
    border-image: linear-gradient(45deg, #ffd700, #daa520) 1;
    border-image-slice: 1;
  }
}
